.wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-card {
  display: flex;
  flex-wrap: wrap;
  width: 410px;
  height: 270px;
  position: relative;
  border-radius: 1rem;
}

img {
  width: 100%;
  vertical-align: middle;
}

.item-card .txt {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.903);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  border-radius: 1rem;
}

.item-card:hover .txt {
  opacity: 1;
  transition: opacity 500ms;
}

.item-card h2 {
  font-size: 32px;
  margin: 0;
}

.item-card p {
  font-size: 18px;
  margin: 0;
}

.item-card h2:after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  margin: 10px 0;
  background-color: white;
  transition: width .5s .2s;
}

.item-card:hover h2:after {
  width: 100%;
}

/* web */


/* mobile */

.custom-img-height {
  height: 450px;
  object-fit: cover;
  /* Esto se asegura de que la imagen mantenga su proporción */
}

.item-card-mobile {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  position: relative;
  border-radius: 1rem;
}

.item-card-mobile .txt {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.903);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  border-radius: 1rem;
}

.item-card-mobile:hover .txt {
  opacity: 1;
  transition: opacity 500ms;
}

.item-card-mobile h2 {
  font-size: 32px;
  margin: 0;
}

.item-card-mobile p {
  font-size: 18px;
  margin: 0;
}

.item-card-mobile h2:after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  margin: 10px 0;
  background-color: white;
  transition: width .5s .2s;
}

.item-card-mobile:hover h2:after {
  width: 100%;
}

/* Estilos actual */