* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

hr {
  border-left: thick solid #000;
  height: 80%;
  left: 50%;
  position: absolute;
  margin-top: 65px;
}

@media screen and (max-width: 1850px) {
  hr {
    display: none;
  }
}

.ctn-myproyect {
  height: 30vh;
}

.ctn-img-proyect {
  width: 100%;
  height: 100%;
}

.title-proyect {
  text-align: center;
  margin-top: 18px;
  color: black;
  font-size: 3rem;
}